body {
    background: url("table.jpg") no-repeat center center fixed;
    background-size: cover;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 30px;
}

h1 {
    color: goldenrod;
    font-size: 100px;
}

#start-btn {
    font-size: 20;
    color: #016f32;
    width: 250px;
    height: 50px;
    background-color: goldenrod;
    font-style: italic;
    font-weight: bold;

}

#newCard-btn {
    font-size: 20;
    color: #016f32;
    width: 250px;
    height: 50px;
    background-color: goldenrod;
    font-style: italic;
    font-weight: bold;
}
